<section class="background">
  <div class="main">
    <a routerLink="/home">
      <div class="title">
        <span class="you">You</span>
        <span class="buy">Buy</span>
      </div>
    </a>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="field-wrapper">
        <input type="text" name="name" placeholder="Name" type="text" formControlName="name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }"/>
        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
            <div *ngIf="f.name.errors.required">Name is required</div>
        </div>
      </div>
      <div class="field-wrapper">
        <input type="text" name="username" placeholder="Username" formControlName="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }"/>
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Username is required</div>
            <div *ngIf="f.username.errors.pattern">Username should not contain spaces</div>
        </div>
      </div>
      <div class="field-wrapper">
        <input type="text" name="email" placeholder="Email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"/>
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Email is required</div>
            <div *ngIf="f.email.errors.email">Please enter valid Email</div>
        </div>
      </div>
      <div class="field-wrapper">
        <input type="password" name="password" placeholder="Password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
            <div *ngIf="f.password.errors.minlength">Password must contain 6 or more characters</div>
        </div>
      </div>
      <div class="field-wrapper">
        <input type="text" name="phone" placeholder="Phone" formControlName="phone" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }"/>
        <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
            <div *ngIf="f.phone.errors.required">Phone is required</div>
        </div>
      </div>
      <div class="field-wrapper">
        <input type="text" name="address" placeholder="Address" formControlName="address" [ngClass]="{ 'is-invalid': submitted && f.address.errors }"/>
        <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
            <div *ngIf="f.address.errors.required">Address is required</div>
        </div>
      </div>
      <div class="field-wrapper">
        <input class="submit" type="submit" value="Signup" [disabled]="loading">
      </div>
    </form>
    <p routerLink="/login">Login</p>
  </div>
</section>
