.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
}

.brand {
  text-decoration: none;
  color: white;
}

.input-group input {
  height: auto;
}
.spacer {
  flex: 1 1 auto;
}

.toolbar-buttons button {
  margin: 4px;
}

button.button-new-product {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 100;
}
